[defaults]
inventory = inventory/local.ini
roles_path = roles
retry_files_enabled = False
stdout_callback = default
interpreter_python = auto_silent
host_key_checking = True
deprecation_warnings = True

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes
