[submodule "chronicle-api"]
	path = chronicle-api
	url = https://github.com/uzaira0/chronicle-api.git
[submodule "chronicle-server"]
	path = chronicle-server
	url = https://github.com/uzaira0/chronicle-server.git
[submodule "rhizome"]
	path = rhizome
	url = https://github.com/uzaira0/rhizome.git
[submodule "rhizome-client"]
	path = rhizome-client
	url = https://github.com/uzaira0/rhizome-client.git
[submodule "chronicle"]
	path = chronicle
	url = https://github.com/uzaira0/chronicle.git
